<h1 class="page-header">diffr</h1>

<div id="diff-container" class="row" ng-controller="DiffCtrl">
    <div class="col-xs-6">
        <div id="diffLeft" class="form-control diff-area diff-left"
             contenteditable="true" strip-br="true" strip-tags="true" ng-model="DiffText.Left"></div>
    </div>
    <div class="col-xs-6">
        <div id="diffRight" class="form-control diff-area diff-right"
             contenteditable="true" strip-br="true" strip-tags="true" ng-model="DiffText.Right"></div>
    </div>
</div>